@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <form action="/Mail/Recovery" method="post">
        <div class="input-group flex-nowrap">
            <input type="email" name="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico" required>
            <button type="submit">Recuperar Contraseña</button>
        </div>
    </form>
</body>
</html>