@model Softka.Models.User
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
                <div class="row justify-content-center">
                    <div class="col-md-9 d-flex align-items-center">
                        <div class="card-body p-4 text-black">

                            <form method="post">

                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    <span class="h1 fw-bold mb-0">Softka</span>
                                </div>

                                <h5 class="fw-normal mb-2 pb-3" style="letter-spacing: 1px;">Register your account
                                </h5>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="Names">Names</label>
                                            <input type="text" class="form-control"
                                                asp-for="Names" />
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="TypeDocument">Type Document</label>
                                            <select type="text" class="form-control" asp-for="TypeDocument">
                                                 <option value="">Select...</option>
                                                 <option value="CC">CC</option>
                                                 <option value="CE">CE</option>
                                                 <option value="TI">TI</option>
                                                 <option value="Passport">Passport</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="LastNames">Last Names</label>
                                            <input type="text" class="form-control"
                                                asp-for="LastNames" />
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="Document">Document</label>
                                            <input type="text" class="form-control"
                                                asp-for="Document" />
                                        </div>
                                    </div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-2">
                                    <label class="form-label" for="Email">Email </label>
                                    <input type="email" class="form-control"
                                        asp-for="Email" />
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="Age">Age</label>
                                            <input type="number" class="form-control"  asp-for="Age" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label" for="Password">Password</label>
                                            <input type="password" class="form-control"  asp-for="Password" />
                                        </div>
                                    </div>
                                </div>


                                <div class="p-3">
                                    <a class="btn btn-dark form-control" asp-action="Register" asp-controller="User" type="Submit">Register</a>
                                </div>
                                
                                <a class="btn btn-danger mt-2 form-control" href="@Url.Action("LoginResponse", "Login")"><svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"><path fill="#ffffff" d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301c1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/></svg> Login With
                                    Google</a>
                                <p class="lg-2 mt-2" style="color: #393f81;">Do you have an account? <a href="@Url.Action("Index", "Login")"
                                        style="color: #393f81;">Log In here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Footer {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Softka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
</div>
